body {
  background: #f8e8a6;
}
h1,
h2,
p {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: green;
}
.croissant-photo {
  max-width: 50%;
  border-radius: 80px;
  display: block;
  margin: 30px auto;
}
